<launch>

  <arg name="input" default="image_publisher/output" />
  <arg name="template_path" default="$(find trafficlight_recognizer)/arrow_template.jpg" />
  <arg name="binary_thresh" default="150" />
  <arg name="pair_thresh" default="10" />
  <arg name="area_thresh" default="300" />
  <arg name="dilate_kernel_size" default="3" />


  <node name="image_publisher"
        pkg="jsk_perception" type="image_publisher.py"
        clear_params="true">
    <rosparam subst_value="true">
      file_name: $(find trafficlight_recognizer)/trafficlight.jpg
      rate: 30
    </rosparam>
  </node>

  <node name="hsv_filter" pkg="opencv_apps" type="hsv_color_filter" output="screen">
    <remap from="image" to="image_publisher/output" />
    <param name="debug_view" value="false" />
    <param name="queue_size" value="1" />
    <param name="h_limit_max" value="200" />
    <param name="h_limit_min" value="75" />
    <param name="s_limit_max" value="255" />
    <param name="s_limit_min" value="130" />
    <param name="v_limit_max" value="255" />
    <param name="v_limit_min" value="50" />
  </node>

  <node name="arrow_recognition_sample"
        pkg="trafficlight_recognizer" type="arrow_recognition_sample.py"
        output="screen">
    <remap from="~input" to="hsv_filter/image" />
    <rosparam subst_value="true">
      template_path: $(arg template_path)
      binary_thresh: $(arg binary_thresh)
      pair_thresh: $(arg pair_thresh)
      area_thresh: $(arg area_thresh)
      dilate_kernel_size: $(arg dilate_kernel_size)
    </rosparam>
  </node>

</launch>
