<launch>

  <node name="dummy_image_publisher"
        pkg="jsk_perception" type="image_publisher.py"
        clear_params="true">
    <rosparam subst_value="true">
      file_name: $(find trafficlight_recognizer)/test/trafficlight.jpg
      rate: 30
    </rosparam>
  </node>

  <node name="dummy_signal_publisher"
        pkg="trafficlight_recognizer" type="dummy_signal_publisher.py">
    <rosparam subst_value="true">
      rate: 30
    </rosparam>
  </node>

  <node name="dummy_yolo3_detector"
        pkg="trafficlight_recognizer" type="dummy_yolo3_detected_boxes.py"
        output="log">
    <rosparam subst_value="true">
      rate: 5
    </rosparam>
  </node>

  <node name="feat_proj_bbox"
        pkg="nodelet" type="nodelet"
        output="screen"
        args="standalone trafficlight_recognizer/FeatProjBBox">
    <remap from="~input_signal" to="dummy_signal_publisher/output" />
    <remap from="~input_image" to="dummy_image_publisher/output" />
    <rosparam subst_value="true">
      z_max: 100
      z_min: 20
      w_max: 350
      w_min: 50
      h_max: 200
      h_min: 50
      approximate_sync: true
    </rosparam>
  </node>

</launch>
