<launch>
  <arg name="input_signal" default="/roi_signal"/>
  <arg name="input_image" default="/image_raw"/>

  <node pkg="trafficlight_recognizer" type="feat_proj_bbox" name="feature_projection_bbox" output="log">
    <param name="input_signal" type="str" value="$(arg input_signal)"/>
    <param name="input_image" type="str" value="$(arg input_image)"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="apply_mask_image" args="standalone jsk_perception/ApplyMaskImage">
    <remap from="~input" to="$(arg input_image)" />
    <remap from="~input/mask" to="/feat_proj_bbox/output" />
    <rosparam>
      approximate_sync: false
      clip: false
    </rosparam>
  </node>
</launch>
