<launch>
  <include file="$(find trafficlight_recognizer)/launch/feat_proj.launch" />
  <include file="$(find trafficlight_recognizer)/launch/feat_proj_bbox.launch" />
  <include file="$(find trafficlight_recognizer)/launch/tlr_ssd_detector.launch" />
  <include file="$(find trafficlight_recognizer)/launch/tlr_kcf_tracker.launch" />
  <include file="$(find trafficlight_recognizer)/launch/tlr_classifier.launch" />
  <include file="$(find trafficlight_recognizer)/launch/tlr_visualizer.launch" />
</launch>
